<nav>
  <div class = title>
     <a id = "title" href = "/"><img src = "assets/venture.svg" /></a>
     <h3 id = "total">Funds: <span id = "funds">0</span></h3>
     <h3 id = "time">Time: Y<span id = "year">0</span> M<span id = "month">0</span> D<span id = "day">0</span></h3>
  </div>
  <div class = "navigation">
    <ul>
       <li>
          <a routerLink = "/">Home</a>
       </li>
       <li>
          <a routerLink = "venture/a">A</a>
       </li>
       <li>
          <a routerLink = "venture/b">B</a>
       </li>
       <li>
          <a routerLink = "venture/c">C</a>
       </li>
       <li>
          <a routerLink = "venture/d">D</a>
       </li>
    </ul>

  </div>
</nav>
<div class = "main">
  <router-outlet ></router-outlet>

</div>
